# Example env for backend-reference
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/sprienge
STEADFAST_API_KEY=
STEADFAST_SECRET_KEY=
STEADFAST_BASE_URL=https://portal.packzy.com/api/v1
NODE_ENV=development
JWT_SECRET=change_this_in_production
